.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header--white{
  background-color: $bg-white;
  transition: all 0s;
}

.text--black {
  fill: $fs-black !important;
  color: $fs-black !important;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 15px 10px 0 0px;
  width: 110px;
  img{
    width: 100%;
  }
}

.nav__list {
  display: flex;
  align-items: center;

  &-item {
    letter-spacing: 0.07em;
    white-space: nowrap;
  }
}

.nav__item-link {
  padding: 45px 13px;
  transition: all .5s;
  color: $fs-white;
  fill: #fff;
  &:hover {
    background-color: $bg-black;
  }
}

.button--active{
    background-color: $bg-black;
    color: $fs-white !important;

  &:first-child {
    .nav__icon-arrow {
        fill: #fff;
        transform: rotate(-180deg);
      }
  }
}

.nav__icon-arrow{
  width: 13px;
  height: 8px;
  margin-left: 7px;
  transition: transform .5s;
}


.header__box {
  margin-left: auto;
  display: flex;
  align-items: center;
  &-link {
    padding: 40px 15px;
    transition: all .5s;
    &:hover {
      background-color: $bg-black;
    }
  }
  &-icon{
    fill: $bg-white;
  }
}

// -----------------Catalog-----------------------
.catalog {
  display: none;
  background-color: $bg-white;
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  padding: 30px 50px;
}

.catalog__inner {
  display: flex;
  flex-direction: column;
}

.catalog__btn-back{
    padding: 47px 62px 41px 36px;
    margin: 0 0 50px 60px;
    max-width: 195px;
    background-color: $bg-black1;
    opacity: 0.5;
    color: $fs-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 48%;
      left: 75%;
      width: 20px;
      height: 11px;
      background-image: url(../img/header/arrow-rotate.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
}

.catalog__menu {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 0 40px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-gray;
  }
  &-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.07em;
    padding: 17px 57px;
    border: 1px solid $border-black;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
  }
}

.active-catalog__menu {
  color: $fs-white;
  background-color: $bg-black;
  border-color: $bg-white;
}

.catalog__body-box {
  display: none;
  align-items: center;
  gap: 135px;
  padding: 30px 0 0;
  &:first-child{
    display: flex;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  &-title {
    display: inline;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      text-shadow: 1px 1px  $fs-black;
    }
  }
  &-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $fs-gray1;
    transition: all .3s;
    &:hover{
      text-shadow: 1px 1px  $fs-black;
    }
  }
  &-item + .catalog__list-item {
    margin-top: 25px;
  }
}

//-----------CLIENTS----------

.nav__clients{
  &-list {
    display: none;
    position: absolute;
    top: 110px;
    align-items: center;
    background-color: $bg-white;
  }
  &-item {
    padding: 20px;
    transition: all .5s;
    &:hover{
      background-color: #474747;
      .nav__clients-icon,
      .nav__clients-link{
        color: $fs-white;
        fill: $bg-white;
      }
    }
  }
  &-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bg-grayIcon;
    transition: all .5s;
  }
  &-icon {
    fill: $bg-grayIcon;
    margin-bottom: 15px;
    max-width: 40px;
    max-height: 40px;
    transition: all .5s;
  }
}

//-------------Modal--------------

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.4);
  display: none; //------------------
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-white;
  border: 3px solid $border-black;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/header/bg-before-logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -70px;
    left: -60px;
    width: 116px;
    height: 134px;
  }
    &::after {
    content: '';
    position: absolute;
    background-image: url(../img/header/bg-after-logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -40px;
    right: -35px;
    width: 68px;
    height: 78px;
  }
}

.modal__closed {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

.modal__box {
  width: 700px;
  padding: 45px 45px 30px 50px;
  display: flex;
  // display: none; //------------
  flex-direction: column;
  &-buttons {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  &-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    padding: 25px 0px 22px;
    width: 100%;
    border: 3px solid $border-black;
  }
}

.button-active {
  background-color: $bg-black1;
  color: $fs-white;
}

.form-registration,
.form-login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
}

.form-registration {
  display: none;
}

.form__box-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  gap: 30px;
}

.form__input {
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 3px solid $bg-black1;
  padding: 14px 10px 14px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.07em;
  &::placeholder {
    color: $fs-black1;
  }
}

.form__btn {
  margin-top: 47px;
  width: 100%;
  padding: 24px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.07em;
  color: $fs-white;
  background-color: $bg-black1;
}

.form__link {
  margin-top: 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.07em;
  text-decoration-line: underline;
  color: $fs-gray2;
}

.modal__restoration {
  display: none;
  width: 500px;
  padding-bottom: 40px;
  &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    padding: 25px 0px 22px;
    width: 100%;
    background-color: $bg-black;
    color: $bg-white;
    text-align: center;
    margin-bottom: 37px;
  }
  &-box {
    margin: 0 auto;
    width: 375px;
  }
}