.top {
  max-height: 1100px; 
  height: 100vh;
  &__sliders{
    height: 100%;
  }
  &__slider {
    height: 100%;
    display: flex;
    align-items: center;
    &-img{
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: -1;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
    &-body{
      color: $fs-white;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 30px 0 100px;
    }
    &-title {
      font-size: 100px;
      font-weight: 200;
      letter-spacing: .07em;
      text-transform: uppercase;
      line-height: 130px;
    }
    &-subtitle {
      font-size: 30px;
      line-height: 40px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    &-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $fs-white;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: .07em;
      line-height: 22px;
      text-transform: uppercase;
      height: 73px;
      width: 313px;
      padding: 0 35px 0 0;
      border: 1px solid $border-white;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        height: 1px;
        width: 70px;
        background-color: $bg-white;
        transition: all .5s;
      }
      &:hover {
        &::before{
          width: 40px;
        }
      }
    }
  }
}

.top__content {
  &-title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.07em;
    max-width: 727px;
  }
  &-subtitle {
    margin: 22px 0 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    max-width: 668px;
  }

  &-link {
    padding: 25px 90px;
    border: 1px solid $border-black;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
  }
}

.number-active {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: right;
  letter-spacing: 0.07em;
  color: $bg-black1;
  position: relative;
}