//Colors fs

$fs-white: #fff;
$fs-black: #000;
$fs-black1: #0F0F0F;
$fs-gray1: #666666;
$fs-gray2: #878787;
$fs-gray3: #CECECE;

//Colors Bg

$bg-white: #fff;
$bg-gray: #F5F5F5;
$bg-black: #000;
$bg-black1: #0F0F0F;
$bg-grayIcon: #b2b2b2;;

//Colors border

$border-black: #0F0F0F;
$border-gray: #878787;
$border-white: #fff;